@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-size: 14px;
  --background: #121212;
}

html,
body {
  padding: 0;
  margin: 0;

  color: #fff;

  background-color: var(--background);
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

.body p {
  margin: 20px 0;
}

.body ul {
  list-style-type: disc;
  list-style-position: inside;
}

.body li {
  margin: 10px 0;
}